# Node modules
node_modules/

# Build outputs
dist/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache and lock files
*.cache
*.lock
*.tsbuildinfo

# Temporary files
*.tmp
*.bak
*.backup

# IDE and OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
